# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build outputs
dist
bin
build

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Wrangler
.wrangler

# Pulumi
.pulumi

# IDEs
.idea
.vscode

# OS
.DS_Store
Thumbs.db
